body {
    font-family: 'Titan One', cursive;
    size: 16px;
    text-align: center;
    background-image: url('../images/country-quilt/country-quilt.png');
    color: green;
}

h1 {
    font-size: 40px;
    color: green;
}

h2 {
    color: green;
    margin: 8px;
}

button {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: green;
    color:white;
    font-size: 16px;
    border: none;
    margin: 20px 0px 20px 0px;
    height: 30px;
    width: 100px;
}

/* IDs */
#container {
    background-color: white;
    border: 5px solid green;
    padding: 100px 40px 100px 40px;
    margin: auto;
    height: auto;
    width: 800px;
    margin-top: 80px;
}

#game {
    color:gray;
}

#counter {
    color:red;
}

